<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
      <main class="container">

        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to NoTime!</h1>
          <p class="lead">An application for users to get the content they want!</p>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Timely Fashion</h4>
            <p class="card-text">Videos and articles that will take less than 5 minutes to get through.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Your Selection</h4>
            <p class="card-text">You select the content that you see!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Invite Friends</h4>
            <p class="card-text">Invite yur friends so that you can share the topics that matter to you!</p>
          </section>

        </section>

      </main>
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
