<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1>Your Content Page</h1>
    </main>
      <ul>
        <% articles.forEach(function(article) { %>
        <%- include('article', { article }); %>
        <% }); %>
      </ul>
    <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>